

.tabs{
  width: 800px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid black;
}
.tabs-item{
  display: none;
}
.tabs-item.active{
  display: block;
}
.tabs-btn.active{
background-color: aquamarine;
padding: 20px 30px;
color: brown;
font-weight: 800;
}