.item-li{
    border: 1px solid red;
    width: calc(25% - 24px);
}
.wrapper-products{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
}
.product-name-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-item{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}